.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    width: 100%;
    height: 100%;
}

.border {
    border: 2px;
    border-color: #ccc;
    border-style: solid;
    padding: 3%;
}